* {
    padding: 0;
    margin: 0;
    border: border-box;
        font-family: 'Lexend Mega', sans-serif;
        background-color: #f0f0f0;
}
h1 {
    text-align: center;
    margin-top: 1.25rem; 
    font-size: 1.5rem; 
}

.border {
    font-family: 'Lexend Mega', sans-serif;
    border: 0.0625rem solid #333;
    border-radius: 0.3125rem;
    padding: 0.5rem 0.875rem; 
    width: 15.625rem; 
}

.inputed_value,
.date_selector {
    font-family: 'Lexend Mega', sans-serif;
    display: block;
    margin: 0.625rem auto; 
}

.add_button {
    font-family: 'Lexend Mega', sans-serif;
    display: block;
    margin: 0.625rem auto; 
    padding: 0.625rem 1.25rem; 
    background-color: #0088FF;
    color: white;
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    box-shadow: 0.0625rem 0.125rem 0.05rem 0.0625rem rgba(0, 0, 0, 85%);
}

.add_button:hover {
    background-color: #0077CC;
}

.delet_button,
.edit-button {
    font-family: 'Lexend Mega', sans-serif;
    display: block;

    background-color: #FF5533;
    color: white;
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    box-shadow: 0.0625rem 0.125rem 0.05rem 0.0625rem rgba(0, 0, 0, 85%);
}

.edit-button {
    background-color: #7fbc8c;
}

.edit-button:hover {
    background-color: #98d4a5;
}

.delet_button:hover {
    background-color: #FF2200;
}

.display_result {
    font-family: 'Mabry Pro Medium', sans-serif;
    display: grid;
    grid-template-columns: max-content 1fr .1fr .30fr .30fr; 
    grid-gap: 0.9375rem; 
    max-width: 50rem; 
    margin: 1.25rem auto; 
    background-color: #f0f0f0;
    border: 0.1875rem solid #333; 
    border-radius: 0.3125rem; 
    padding: 0.625rem; 
}

.display_result div {
    max-width: 31.25rem;
    border-bottom: 0.0625rem solid #333; 
    border-radius: 0.0625rem; 
    padding: 0.625rem; 
    text-align: center;
    word-wrap: break-word;
}

#warning-message {
    font-family: 'Lexend Mega', sans-serif;
    color: red;
    text-align: center;
}

#no-tasks-message {
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
}

.important-text {
    background: linear-gradient(45deg, #c4a1ff, #a388ee);
    -webkit-background-clip: text;
    color: transparent;
}

#important-button {
    width: 0.9375rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 0.03125rem; 
}

footer {
    position: relative;
    bottom: 0px;
    right:1.02rem;
    width: 100%;
    height: 0.10rem;
    background: transparent;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

footer p {
    color: rgb(0, 0, 0);
    font-size: 8px;
    margin-bottom: 1px;
    margin-top: -11px;
}

#links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

#links a :hover{
    color: rgb(247, 57, 155);
}

#links{
    margin-left: -0.1rem;
}
